@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

// RESET

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// H1 ANIMATION

$time: 250ms;
$number: 3;
$ease: cubic-bezier(0.77, 0, 0.175, 1);
$move: 2em;
$font: "Roboto Condensed", sans-serif;

a {
  cursor: pointer;
  font-family: $font;
  font-weight: 900;
  user-select: none;
  color: black;
  font-size: 0;
  transform: translate3d(0, 0, 0);
  filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  span {
    font-size: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    transition: transform $ease $time;
    padding: 0 0.1em;

    @for $i from 0 through $number {
      &:nth-child(#{$i}n) {
        transition-delay: $time * $i/$number;
      }
      &:nth-child(#{$i}n):after {
        transition-delay: $time * $i/$number;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: -1%;
      width: 102%;
      height: $move;
      background: black;
      transform-origin: top center;
      transform: scaley(0.1);
      transition: transform $ease $time;
    }
  }
  &:hover {
    span {
      transform: translateY(-$move/2);
      &:after {
        transform: scaleY(1);
      }
    }
  }
  &:active {
    span {
      transform: translateY(0);
      transition: transform $ease $time/2;
      transition-delay: 0 !important;
      &:after {
        transform: scaleY(0.5);
        transition: transform $ease $time/2;
        transition-delay: 0 !important;
      }
    }
  }
}

// STYLE

body {
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  padding: 10px;
  margin: 20px;
}

.scorePart {
  margin: 40px;
  font-weight: bold;
}

// GRID

.container {
  display: grid;
  margin: 50px;
}

.start {
  grid-column: 1/2;
  grid-row: 1/2;
}

.points {
  grid-column: 1/3;
  grid-row: 3/4;
}

.auto-click {
  grid-column: 2/3;
  grid-row: 2/3;
}

.multi {
  grid-column: 1/2;
  grid-row: 2/3;
}

.boost {
  grid-column: 2/3;
  grid-row: 1/2;
}

// IMAGES / BUTTONS

button {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  margin: 10px;
}
#salty {
  transition: transform 50ms ease-in;
}

#salty {
  background-image: url(https://github.com/FrankZiWANG-dev/CookieClicker/blob/dev/assets/image/salty.png?raw=true);
  background-size: cover;
}

#multiX2 {
  background-image: url(https://github.com/FrankZiWANG-dev/CookieClicker/blob/dev/assets/image/potato-pc-multiplicator.png?raw=true);
  background-size: cover;
}

#auto-click {
  background-image: url(https://github.com/FrankZiWANG-dev/CookieClicker/blob/dev/assets/image/buffering-autoclick.png?raw=true);
  background-size: cover;
}

#boost {
  background-image: url(https://github.com/FrankZiWANG-dev/CookieClicker/blob/dev/assets/image/no-internet-boost.png?raw=true);
  background-size: cover;
}

// BACKGROUND

$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: $bg-width $bg-height;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: $bg-width $bg-height;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: $bg-width $bg-height;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: $bg-width $bg-height;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: $bg-width $bg-height;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: $bg-width $bg-height;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: $bg-width $bg-height;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: $bg-width $bg-height;
  }
}

body {
  margin-top: 13.5rem;

  color: #999;
  font: 400 16px/1.5 "lato", helvetica, arial, sans-serif;
  text-align: center;
  background: url($bg-url) repeat 0 0;

  -webkit-animation: bg-scrolling-reverse 0.92s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite; /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.flexscore{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15%;
}
.padding{
  padding-top: 15%;
}
.achievementPart{
  padding-right:  10%;
}